@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="bg-background/80 dark:bg-background/80 backdrop-blur-xl border-b border-outline-variant/10 fixed top-0 w-full z-50">
    <div class="flex justify-between items-center max-w-[1200px] mx-auto px-gutter h-20">
    
        <div class="hidden md:flex items-center gap-stack-lg">
            <a class="text-on-surface-variant dark:text-on-surface-variant hover:text-primary transition-colors duration-300 font-body-md text-body-md" href="#about">Hakkımda</a>
            <a class="text-on-surface-variant dark:text-on-surface-variant hover:text-primary transition-colors duration-300 font-body-md text-body-md" href="#services">Servisler</a>
            <a class="text-on-surface-variant dark:text-on-surface-variant hover:text-primary transition-colors duration-300 font-body-md text-body-md" href="#portfolio">Portfolyo</a>
            <a class="text-on-surface-variant dark:text-on-surface-variant hover:text-primary transition-colors duration-300 font-body-md text-body-md" href="#experience">Deneyim</a>
            <a class="text-on-surface-variant dark:text-on-surface-variant hover:text-primary transition-colors duration-300 font-body-md text-body-md" href="#contact">İletişim</a>
        </div>
        <a class="hidden md:inline-flex items-center justify-center px-6 py-3 bg-primary text-on-primary rounded-DEFAULT font-label-sm text-label-sm hover:opacity-90 transition-opacity cursor-pointer active:scale-95" href="#contact">Benimle İletişime Geçin</a>
        <!-- Mobile Menu Button -->
        <button class="md:hidden text-on-background">
            <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 0;">menu</span>
        </button>
    </div>
</nav>
