
@model Experience
@{
  
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}


<form method="post">
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" required>
    <br />

    <label>Açıklama</label>
    <textarea asp-for="Description" class="form-control" required></textarea>
    <br />

    <label>Şirket İsmi</label>
    <input type="text" asp-for="Company" class="form-control" required>
    <br />
    <label>Başlangıç Tarihi</label>
    <input type="text" asp-for="StartYear" class="form-control">
    <br />
    <input type="text" asp-for="EndYear" class="form-control">
    <br />
    <button type="submit" class="btn btn-outline-dark">Kaydet</button>

</form>

