@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<div class="bg-surface-container-lowest border border-outline-variant rounded-xl p-lg custom-shadow flex items-center justify-between">
    <div>
        <p class="text-on-surface-variant font-label-sm uppercase mb-xs">Gelen Mesajlar</p>
        <h3 class="font-display-sm text-display-sm text-on-surface"> @TempData["MessageCount"]</h3>
    </div>
    <div class="w-12 h-12 bg-amber-100 rounded-lg flex items-center justify-center">
        <span class="material-symbols-outlined text-amber-600 text-[32px]">chat_bubble</span>
    </div>
</div>
</div>
