
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="light" lang="tr">

    @await Component.InvokeAsync("_AdminLayoutHead")

<body class="font-body-md text-body-md">
    <!-- SideNavBar -->
	@await Component.InvokeAsync("_AdminLayoutSideBar")
    <!-- TopNavBar -->
    @await Component.InvokeAsync("_AdminLayoutHeader")



    <!-- Main Content Area -->
    <main class="ml-[260px] pt-16 min-h-screen p-lg">
        <!-- Page Title & Stats -->
      
        <div class="container">
            <div class="mb-xl">
                <h1 class="font-h1 text-h1 text-on-surface mb-lg">@ViewData["Title"] </h1>

            </div>
            @RenderBody()
           </div>
    </main>



	@await Html.PartialAsync("_AdminScriptsPartial")
</body>
</html>
