@using Portfolio.Models.ProjectStack
@model List<ProjectStackListViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <div class="row">
        <div class="overflow-x-auto mt-50">
            <h3 class="font-h1 text-h1 text-on-surface mb-lg">Son Yapılan Projeler</h3>
            <table class="w-full text-left border-collapse">
                <thead>
                    <tr class="bg-surface-container text-on-surface-variant border-b border-outline-variant">
                        <th class="px-lg py-md font-label-sm uppercase tracking-wider">Proje Adı</th>
                        <th class="px-lg py-md font-label-sm uppercase tracking-wider">Kullanılan teknolojiler</th>
                        <th class="px-lg py-md font-label-sm uppercase tracking-wider">Oluşturulma Tarihi</th>
                        
                    </tr>
                </thead>
                <tbody class="divide-y divide-outline-variant/30">

                    @foreach(var item in Model)
                    {
                        <tr class="hover:bg-surface-container-lowest/50 transition-colors">
                            <td class="px-lg py-md">
                                @item.ProjectName
                            </td>
                            
                            <td>
                                @foreach (var tech in item.TechStackNames)
                            @string.Join(",", @tech)

                                </td>
                            <td class="px-lg py-md text-on-surface-variant">@item.CreatedAt</td>
                            
                            <td class="px-lg py-md text-right">
                                <div class="flex justify-end gap-sm">
                                    <button class="btn btn-outline-info">Proje Detay
                                    </button>
                                </div>
                            </td>
                        </tr>
					}

                   
                </tbody>
            </table>
        </div>


    </div>
</div>