@model Service
@{

    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>İkon</label>
    <input type="text" asp-for="Icon" class="form-control" required>
    <br />

    <label>Bölüm Adı</label>
    <input type="text" asp-for="Title" class="form-control" /></>
    <br />

    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" required>
    <br />
   
    <br />
    <button type="submit" class="btn btn-outline-dark">Kaydet</button>

</form>

