@using Portfolio.Models.ProjectStack
@model List<ProjectStackListViewModel>
@{
    ViewData["Title"] = "Proje Teknolojileri";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
	int count = 0;
}



<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Proje Adı</th>
        <th>Kullanılan Teknolojiler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.ProjectName</td>
           
                <td>
                    @foreach (var tech in item.TechStackNames)
                        @string.Join("," , @tech),
                        
                </td>
			
        </tr>
    }

</table>

<a class="btn btn-outline-dark" href="/ProjectTechStacks/Create">Yeni Giriş</a>